/* Sidebar */
.sidebarGrid {
    display: grid;
    width: 260px; 
}

/* Palette and Search Box , Search color */
#palette {
    margin-bottom: 10px;
}

.search-color-box,
.search-box {
    margin-bottom: 15px;
}

.search-color,
.search-icon {
    width: 240px !important;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 13px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.search-color{
    margin-top: 10px; 
}

.search-color:focus,
.search-icon:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
}


/* Icon Container and color Container*/
.color-container,
.icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-y: auto;
    max-height: 60px;
}

.color-container::-webkit-scrollbar,
.icon-container::-webkit-scrollbar {
    width: 5px;
}

.color-container::-webkit-scrollbar-thumb,
.icon-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.color-container::-webkit-scrollbar-track,
.icon-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.color-box,
.icon-box {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

.color-box:hover,
.icon-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.color-box img,
.icon-container img {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.name-color,
.name-icon {
    font-size: 10px;
    color: #495057;
    text-align: center;
    font-weight: 500;
}


/* search box */
#searchTab{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
/* Canvas Section */
#canvasdiv1 {
    margin-top: 5px;
}

.canvas-container {
    position: relative;
    width: 250px !important;
    height: 120px !important;
    border: 1px solid #767676;
    overflow: hidden;
    background-color: #ffffff;
}

.canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Clean Button Section */
#description_objects0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.font-large {
    font-size: 14px;
    color: #343a40;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}

.font-bold {
    font-weight: 700;
}

#sceneDes0 {
    margin-right: 5px; 
}

.function-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add-tag-bboxes {
    margin-right: 10px;
    align-items: center;
    cursor: pointer !important;
    border-radius: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 6px 6px 4px 6px;
}

.add-tag-bboxes:hover {
    background-color: #dfdfdf;
}

.canvasCleanItem { 
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.canvasCleanItem:hover {
    background-color: #dfdfdf;
}

.canvasCleanItem i {
    color: #dc3545;
    font-size: 16px;
}

.lower-canvas, .upper-canvas {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
}


/* number search */
.number-search-container {
    display: flex;
}

.number-search-child {
    display: flex;
}

.number-search-bbox {
    flex: 1;
    max-width: 120px;
    resize: vertical;
    border: none;
}
.number-search-bbox:focus {
    outline: none;
}

.number-search-tag {
    max-width: 120px;
    resize: vertical;
    border: none;
}
.number-search-tag:focus {
    outline: none;
}
/* tag box */
.tag-container {
    display: flex;
    gap: 5px;
}

.tag-child {
    flex: 1;
    border-radius: 10px;
}

.tag-search {
    margin: 10px 0 5px 0;
    width: 100px !important;
    padding: 5px 10px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 13px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.tag-search:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
}


.tag-child .tag-box,
.tag-child .tag-select-box { 
    flex-wrap: wrap; 
    width: 100%; 
    gap: 2px;
    display: flex;
    overflow-y: auto;
    max-height: 100px;
}

.tag-child .tag-box::-webkit-scrollbar,
.tag-child .tag-select-box::-webkit-scrollbar {
    width: 5px;
}

.tag-child .tag-box::-webkit-scrollbar-thumb,
.tag-child .tag-select-box::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.tag-child .tag-box::-webkit-scrollbar-track,
.tag-child .tag-select-box::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.tag-child .tag,
.tag-child .tag-select {
    user-select: none;
    background-color: #f5f5f5;
    color: black;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tag-child .tag:hover,
.tag-child .tag-select:hover {
    background-color: #cfcfcf;
}


.tag-select-choice{
    margin: 10px 0 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    font-size: 13px;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.tag-select-label{
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    white-space: nowrap;
    align-items: center;
    display: flex;
} 
.delete-tag-choice {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.delete-tag-choice:hover {
    background-color: #dfdfdf;
}

.delete-tag-choice i {
    color: #dc3545;
    font-size: 16px;
}