{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Retrieval-FU</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navLeft.css' %}">
    <link rel="stylesheet" href="{% static 'css/navRight.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <div class="logo-name">Faster United</div>
            <div class="advanced-container">
                <p style="white-space: nowrap;">Video Retrieval</p>
                <button id="copy-id-video">Copy</button>
            </div>
        </div>
        <div class="search-container">
            <div class="search">
                <div class="search-box-header">
                    <input class="number-search" placeholder="Number search..." value="25" style="border-right: 1px solid #ddd;">
                    <textarea class="text-search" id="text-search" placeholder="Search text query..." rows="1" cols="50"></textarea>
                    <button class="btn-text-search" title="Search text query">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
                <div class="actions" style="display: none;">
                    <div class="menu-frames-container">
                        <input type="checkbox" id="title" class="menu-choice" checked>
                        <div class="menu-name">Title</div>
                    </div>
                    <div class="menu-frames-container">
                        <input type="checkbox" id="description" class="menu-choice">
                        <div class="menu-name">Description</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main>
            <!-- loader -->
            <div class="loader" style="display: none;"></div>
            <!-- Image grid -->
            <div class="image-grid" id="imageContent">
                <!-- list video -->
                <!-- <button class="id-video">ID video</button> -->
            </div>
        </main>
        <!-- navright -->
        <nav id="navRight" class="nav-right" style="display: none;">
            <!-- Navigation content -->
            <div class="right-container">
                <div class="right-header">
                    <div class="header-title">
                        <div class="right-id-video">ID video</div>
                    </div>
                    <!-- close nav-right -->
                    <div class="close-nav-right">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M8 7.121L2.879 2 1.465 3.414 6.586 8 1.465 12.586 2.879 14 8 9.879l5.121 4.121 1.414-1.414L9.414 8 14.536 2.879 13.121 1.465z"/>
                        </svg>
                    </div>
                </div>
                <div class="right-main">
                    <div class="right-image">
                        <div class="right-video-container" style="display: block;">
                            <iframe src="https://youtube.com/embed/HNsRpkryGXA?start=1004" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
             </div>
        </nav>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.2.4/fabric.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- <script src="{% static 'js/others.js' %}"></script> -->
    <script src="{% static 'js/jquery_colect.js' %}"></script>
    <script>
        // info susscess
        function infoSusscess(text) {
            $(document).ready(function() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "1500",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.success(text);
            });
        }
        // info error
        function infoError(text) {
            $(document).ready(function() {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "1500",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr.error(text);
            });
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function getYoutubeVideoId(url) {
            const regex = /(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\?v=([^&]+)/;
            const match = url.match(regex);
            return match ? match[1] : null;
        }
        const csrftoken = getCookie('csrftoken');
        const textSearch = document.getElementById('text-search');
        const numberSearch = document.querySelector('.number-search');
        const btnTextSearch = document.querySelector('.btn-text-search');
        const imageContent = document.getElementById('imageContent');
        const titleCheckbox = document.getElementById('title');
        const descriptionCheckbox = document.getElementById('description');
        const loader = document.querySelector('.loader');
        const closeNavRight = document.querySelector('.close-nav-right');
        const copyIdVideo = document.getElementById('copy-id-video');
     
        btnTextSearch.addEventListener('click', function() {
            if (textSearch.value === '') {
                infoError('Please enter text query!');
                return;
            }
            const text = textSearch.value;
            const number = numberSearch.value;
            const title = titleCheckbox.checked ? 'title' : '';
            const description = descriptionCheckbox.checked ? 'description' : '';
            loader.style.display = 'block';

            fetch(`/api/media_info_search/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({ title, description, text, number }),
            })
            .then(response => response.json())
            .then(data => {
                const video_name = data.video_name;
                const watch_urls = data.watch_urls;
                localStorage.setItem('watch_urls', JSON.stringify(watch_urls));
                localStorage.setItem('video_name', JSON.stringify(video_name));
                imageContent.innerHTML = '';
                video_name.forEach(item => {
                    const div = document.createElement('button');
                    div.classList.add('id-video');
                    div.textContent = item;
                    imageContent.appendChild(div);
                });
                loader.style.display = 'none';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        // click open video
        imageContent.addEventListener('click', function(e) {
            if (e.target.classList.contains('id-video')) {
                const videoBlock = e.target;
                const videoBlocks = document.querySelectorAll('#imageContent .id-video');
                videoBlocks.forEach(block => {
                    block.classList.remove('image-block-active');
                });

                // Thêm lớp 'image-block-active' cho khối được click
                videoBlock.classList.add('image-block-active');
                
                const id = e.target.textContent;
                const watch_urls = JSON.parse(localStorage.getItem('watch_urls'));
                const video_name = JSON.parse(localStorage.getItem('video_name'));
                const url = getYoutubeVideoId(watch_urls[video_name.indexOf(id)]);
                const iframe = document.querySelector('.right-video-container iframe');
                iframe.src = `https://youtube.com/embed/${url}?start=0`;
                document.getElementById('navRight').style.display = 'block';

                // right-id-video
                const rightIdVideo = document.querySelector('.right-id-video');
                rightIdVideo.textContent = id;
            }
        });

        // close nav-right
        closeNavRight.addEventListener('click', function() {
            document.getElementById('navRight').style.display = 'none';
        });

        // copy id video
        copyIdVideo.addEventListener('click', function() {
            const listID = document.querySelectorAll('.id-video');  
            const id = Array.from(listID).map(item => item.textContent).join(',');
            navigator.clipboard.writeText(id); 
            copyIdVideo.style.backgroundColor = '#4CAF50';
            copyIdVideo.textContent = 'Copied';
            setTimeout(() => {
                copyIdVideo.style.backgroundColor = '#555';
                copyIdVideo.textContent = 'Copy';
            }, 3000);
        });
    </script>
</body>
</html>
